/* CSS for project styling */

* {
    color: blue;
    box-sizing: border-box;
}

.section-1 {
    display: flex;
    flex-flow: row;
    padding: 20px 0;
}

.project-titles {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}



