@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

* {
    /* border: 1px solid red; */
    font-family: 'Abel', sans-serif;
    margin: 0 auto;
}

h1 {
    font-family: 'Architects Daughter', sans-serif;
    font-size: 2.5em;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav-div {
    background: #0069cc;
    color: white;
    padding: 30px 30px;
    margin: 0;
}

nav button {
    border: 1px solid #80c1ff;
    border-radius: 7px;
    background-color: white;
    height: 2rem;
    width: 6rem;
    margin: 10px;
    font-size: 1.250em;
}

div.nav-div nav button:hover {
    background-color: #4da9ff;
    color: white;
}

.top-section {
    display: flex;
    flex-flow: row; 
    justify-content: space-evenly;
    padding: 30px 0;
}

.img-row-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    padding: 2.250em;
}

.img-row-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    padding: 2.250em;
}

#img-container img {
    border: 2.5px solid #004280;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 30px 10px 30px;
    padding: 10px 30px 10px 0;
}

.column h2 {
    font-size: 1.5em;
}

.column button {
    border-radius: 7px;
    height: 2.1rem;
    width: 6.3rem;
    background-color: #004f99;
    color: white;
    font-size: 1em;
}

.column button:hover {
    background: #4da9ff;
    color: white;
}

.project-titles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px 10px;
    margin: 1px 10px 10px 10px;
}

#main-section {
    text-align: center;
    font-size: 1.250em;
}

.footer-section {
    background-color: #0069cc;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    align-content: center;
    padding: 20px;
    margin: 0;
}

.footer-nav {
    display: flex;
    justify-content: center;
    margin: 10px 1px 30px 1px;
}

.footer-nav button {
    height: 3rem;
    width: 9rem;
    margin: 10px;
    font-size: 1.250em;
}

.footer-nav button:hover {
    background: #80c1ff;
    color: white;
}

#about-blurb {
    display: flex;
    flex-direction: column;
    padding: 20px 30px 10px;
}

@media all and (max-width: 800px)
{
    /* code goes here */
    body {
        display: flex;
        flex-flow:column nowrap;
        justify-content:center;
        align-items:center;
      }

    .nav-div {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .nav-div nav {
        display: flex;
        flex-direction: column;
    }

    nav button {
        border: 1px solid #80c1ff;
        border-radius: 7px;
        background-color: white;
        height: 3rem;
        width: 7rem;
        margin: 5px;
        font-size: 1.50em;
    }

    nav button:hover {
        background-color: #4da9ff;
        color: white;
    }

    .top-section {
        display: flex;
        flex-direction: column;
    }

    .footer-section {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media all and (max-width: 500px)
{
    /* code goes here */
}