@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

* {
    /* border: 1px solid red; */
    font-family: 'Abel', sans-serif;
    padding: 2px;
    box-sizing: border-box;
}

h1 {
    font-family: 'Architects Daughter', sans-serif;
    font-size: 2.5em;
}

nav {
    display: flex;
    flex-direction: row;
    flex-direction: wrap;
}

.nav-div {
    background: #b3d1ff;
    padding: 10px 30px;
    margin: 20px;
}

nav button {
    border: 1px solid black;
    border-radius: 7px;
    background-color: lightgray;
    height: 2rem;
    width: 5rem;
    margin: 10px;
    font-size: 1.250em;
}

div.nav-div nav button:hover {
    background-color: black;
    color: white;
}

#img-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2.250em;
}

#img-container img {
    border: 1px solid black;
}

.column {
    display: flex;
    flex-direction: column;
    margin: 10px 30px 10px 30px;
    padding: 10px 0;
}

.column h2 {
    font-size: 1.5em;
}

.column button {
    border-radius: 7px;
    height: 2.1rem;
    width: 6.3rem;
    background-color: lightgray;
    font-size: 1em;
}

.project-titles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#main-section {
    text-align: left;
    font-size: 1.250em;
}

.footer-section {
    background-color: #b3d1ff;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
}

.footer-nav {
    display: flex;
    justify-content: center;
    margin: 10px 1px 30px 1px;
}

.footer-nav button {
    height: 3rem;
    width: 7rem;
    margin: 0;
    font-size: 1.250em;
}